<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Quadrilate.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>46E6AB571BED8321008B1D03</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>46E6AB6B1BED8322008B1D03</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>46E6AB761BED8322008B1D03</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
